.about{
   display: none;
    
   @media screen and (min-width:1200px){
    display: block;
      padding-bottom: 94px;
  }
}
.about__title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    color: $main-text-cl;
    font-weight: 700;
    text-align: center;
}
.about__list{
    display: flex;
    padding-top: 0;
    gap: 30px;
}  
.about__item {
    
    position: relative;
    }

    .about__schild{
    position:absolute;
    display: flex;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;
    bottom: 0;
    
}
.schild{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg-cl;
}