.goin{
  @media screen and (min-width: 1200px){
        margin-left: 70px;
        align-items: baseline;
     }
    
}
.goin__title{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-cl;
  margin-bottom: 20px;
}
.goin__list{
  display: flex;
  justify-content: normal;
  @media screen and (min-width:480px){
  margin-bottom: 60px;
  justify-content: center;
}
}
.going__link{
    margin-right: 10px;;
}
.goin__socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill:$title-cl;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    fill: $title-cl;
    background-color: $accent-cl;
}}

