.header{
    background-color: $title-cl;
    border: 1px solid #ECECEC;
   cursor: pointer;
}
.header__container{
    display: flex;
    @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
}}
.logo{
  font-size: 24px;
    line-height:calc(28 / 24);
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: $secondary-font;
    color: $accent-cl;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   text-align: center;
    @media screen and (min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-right: 93px;}
  
   @media screen and (min-width:768px) {
    padding-top: 26px;
    padding-bottom: 26px;
}}
.header-logo{
// padding-top: 24px;
// padding-bottom: 24px;
color:$logo-cl;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header__nav{
display: none;
  @media screen and (min-width:768px){
    display: flex;

  }
  @media screen and (min-width:1200px) {
  display: flex;
  justify-content: center;
  }

}
.header__list{
   
   @media screen and (min-width:768px) { 
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 88px;
.header__item:not(:last-child){
    margin-right: 50px;}
}
.current {
    content: '';
    position: relative;
    &:hover, &:focus {
    color: $accent-cl;}

    &::after{
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-cl;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
}
}

.header__item{
    font-size: 14px;
    line-height: calc(16 / 14);
    color: $main-text-cl;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-link {
  
     @media screen and (min-width:768px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
    color: $main-text-cl;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
   color: $accent-cl;
   fill:$accent-cl;
   cursor: pointer;}

}

.header__contacts{
display: none;
@media screen and (min-width:768px){
  padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
  &:last-child {
  margin-bottom: 0;}
} 
  @media screen and (min-width:1200px) {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    color: $link-cl;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}}

// .header__contacts-item{
//     justify-content: center;
//     align-items: center;
//     @media screen and (min-width:1200px) {
//     margin-right: 50px;
//   &:last-child {
//   margin-right: 0;
// } 
// }}
.header__contacts-link{
    background-size: contain;
    background-position: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: $link-cl;
    text-decoration: none;
    font-size: 12px;
    line-height: calc(14 / 12);
    font-weight: 500;
    letter-spacing: 0.02em;
    align-items: center;
     
    &:hover,
    &:focus {
   color: $accent-cl;
   fill:$accent-cl;
   cursor: pointer;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
  
   @media screen and (min-width:1200px) {
    display: flex;
  align-items: center;
font-size: 14px;
line-height: calc(16 / 14);
}
}
.header__icon{
    margin-right: 10px; 
    align-items: baseline;
    color: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}