.header{
    background-color: $title-cl;
    border: 1px solid #ECECEC;
   
}
.header__container{
    display: flex;
    align-items: center;
}
.logo{
 padding-top: 24px;
    padding-bottom: 24px;
    font-family: $secondary-font;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: $accent-cl;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo{
padding-top: 24px;
padding-bottom: 24px;
color:$logo-cl;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav{
display: flex;
}
.header__list{
display: flex;
    margin-left: 93px;
    align-items: center;
    flex-direction: row;
.header__item:not(:last-child){
    margin-right: 50px;
}
.current {
    content: '';
    position: relative;
    color: $accent-cl;

    &::after{
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-cl;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
}
}

.header__item{
    font-size: 14px;
    line-height: calc(16 / 14);
    color: $main-text-cl;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-link {
    color: $main-text-cl;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
   color: $accent-cl;
   fill:$accent-cl;
   cursor: pointer;}

}

.header__contacts{
display: flex;
    margin-left:auto;
    color: $link-cl;
    .header__contacts-item:not(:last-child){
    margin-right: 50px;
}}

.header__contacts-item{
    justify-content: center;
    align-items: center;
}
.header__contacts-link{
background-size: contain;
    background-position: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: $link-cl;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    font-weight: 500;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
   color: $accent-cl;
   fill:$accent-cl;
   cursor: pointer;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
}
.header__icon{
    margin-right: 10px; 
    align-items: center;
    color: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}