/* fonts */
$main-font:"Roboto",sans-serif;
$secondary-font:"Raleway",sans-serif;
    /* text colors */
$main-text-cl:rgba(33, 33, 33, 1);
$title-cl:rgba(255, 255, 255, 1);
$link-cl: rgba(117, 117, 117, 1);
$link-tel:rgba(255, 255, 255, 0.6);
/* background-color: ; */
$main-bg-cl:rgb(245, 245, 245) ;
$hero-cl: rgba(47, 48, 58, 1);
$team-cl:rgba(245, 244, 250, 1);
$footer-cl:rgba( 47, 48, 58, 1);
$act-hero-btn:rgba(24, 140, 232, 1);
/* logo color */
$accent-cl:rgba( 33, 150, 243, 1);
$logo-cl:rgba(0, 0, 0, 1);
$gap:30px;
/* others */
$card-border:rgba(238, 238, 238, 1);
$icon-team:rgba(175, 177, 184, 1);

